In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV,train_test_split,cross_val_predict
from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error,root_mean_squared_error,mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
import matplotlib.pyplot as plt

scaler=StandardScaler()



# load in the wind velocity data and clean duplicates etc.:
data_ERA5 = pd.read_csv(f'reanalysis.csv',parse_dates=['Unnamed: 0'])
                # preprocessed ERA5 data
data_ERA5.rename(columns={ data_ERA5.columns[0]: "Time" }, inplace = True)
                # rename the first column to be the 'time' column
data_ERA5.drop_duplicates(subset='Time', inplace=True)


data_LIDAR = pd.read_csv(f'measurements/lidar.csv',parse_dates=['Unnamed: 0'])
                # data from the LIDAR measurement
data_LIDAR.rename(columns={ data_LIDAR.columns[0]: "Time" }, inplace = True)
                # rename the first column to be the 'time' column
data_LIDAR.drop_duplicates(subset='Time', inplace=True)

# Resample the LIDAR data to 1h intervals

data_LIDAR = data_LIDAR.resample('h', on='Time').mean()

# create a merged dataframe containing the ERA5 and the LIDAR data

data_mrgd = pd.merge(data_LIDAR, data_ERA5, how='right', on='Time')

data_mrgd['Time'] = pd.to_datetime(data_mrgd['Time'])

                       WS-99.2    WD-99.2
Time
2023-03-10 00:00:00   8.621667  73.321667
2023-03-10 01:00:00   9.146667  71.501667
2023-03-10 02:00:00   9.578333  66.051667
2023-03-10 03:00:00  10.166667  63.538333
2023-03-10 04:00:00  10.926667  59.341667