In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV,train_test_split,cross_val_predict
from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error,root_mean_squared_error,mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
import matplotlib.pyplot as plt

scaler=StandardScaler()

# load in the wind velocity data:
data_ERA5 = pd.read_csv(f'reanalysis.csv',parse_dates=['Unnamed: 0'])
                # preprocessed ERA5 data
data_ERA5.rename(columns={ data_ERA5.columns[0]: "time" }, inplace = True)
                # rename the first column to be the 'time' column

data_LIDAR = pd.read_csv(f'measurements/lidar.csv',parse_dates=['Unnamed: 0'])
                # data from the LIDAR measurement
data_LIDAR.rename(columns={ data_LIDAR.columns[0]: "time" }, inplace = True)
                # rename the first column to be the 'time' column

                     time  WS-99.2  WD-99.2
0     2023-03-10 00:00:00     8.25    73.83
1     2023-03-10 00:10:00     8.48    79.73
2     2023-03-10 00:20:00     8.63    74.04
3     2023-03-10 00:30:00     8.78    74.97
4     2023-03-10 00:40:00     8.79    70.54
...                   ...      ...      ...
39595 2023-12-09 23:10:00    12.93   246.55
39596 2023-12-09 23:20:00    13.77   245.70
39597 2023-12-09 23:30:00    13.54   247.70
39598 2023-12-09 23:40:00    15.01   241.97
39599 2023-12-09 23:50:00    15.68   241.85

[39600 rows x 3 columns]