In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV,train_test_split,cross_val_predict
from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error,root_mean_squared_error,mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
import matplotlib.pyplot as plt

scaler=StandardScaler()

# load in the wind velocity data:
data_ERA5 = pd.read_csv(f'reanalysis.csv',parse_dates=['Unnamed: 0'])
                # preprocessed ERA5 data
data_LIDAR = pd.read_csv(f'measurements/lidar.csv',parse_dates=['Unnamed: 0'])
                # data from the LIDAR measurement
data_ERA5

                Unnamed: 0   WS100  WD100
0      1995-01-01 00:00:00  15.217  313.6
1      1995-01-01 01:00:00  16.807  311.4
2      1995-01-01 02:00:00  17.562  313.0
3      1995-01-01 03:00:00  19.496  310.7
4      1995-01-01 04:00:00  21.631  312.3
...                    ...     ...    ...
262987 2024-12-31 19:00:00  21.859  225.5
262988 2024-12-31 20:00:00  21.991  226.8
262989 2024-12-31 21:00:00  22.290  228.4
262990 2024-12-31 22:00:00  21.714  228.1
262991 2024-12-31 23:00:00  22.628  227.7

[262992 rows x 3 columns]